@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/MuseoSans_500.otf) format('opentype');
}

@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/MuseoSans_700.otf) format('opentype');
}

@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/MuseoSans-300.otf) format('opentype');
}

@font-face {
  font-family: 'Museo_Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Museo_Slab_500.otf) format('opentype');
}

@font-face {
  font-family: 'Museo Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Museo_Slab_700.otf) format('opentype');
}
